/* when converting to fulcrumapp.com change all "url(../assets" to "url(/assets" */

// Updated Category BG Gradients
.catalog .category-agriculture .main-headline { background: linear-gradient(to bottom right, #8faf50, #a8c76a); }
.catalog .category-archaeology .main-headline { background: linear-gradient(to bottom right, #9e9c77, #b9b79b); }
.catalog .category-commercial .main-headline { background: linear-gradient(to bottom right, #ffa800, #ffbb37); }
.catalog .category-construction .main-headline { background: linear-gradient(to bottom right, #333, #4b4848); }
.catalog .category-disaster-response .main-headline { background: linear-gradient(to bottom right, #b40000, #da2525); }
.catalog .category-environmental .main-headline { background: linear-gradient(to bottom right, #92a300, #aabb16); }
.catalog .category-finance .main-headline { background: linear-gradient(to bottom right, #71b900, #8ed125); }
.catalog .category-government .main-headline { background: linear-gradient(to bottom right, #603b14, #825423); }
.catalog .category-health .main-headline { background: linear-gradient(to bottom right, #ff7171, #f58c8c); }
.catalog .category-miscellaneous .main-headline { background: linear-gradient(to bottom right, #31cda3, #47ddb4); }
.catalog .category-natural-resources .main-headline { background: linear-gradient(to bottom right, #29c2e3, #6ed7ee); }
.catalog .category-political .main-headline { background: linear-gradient(to bottom right, #007ccb, #1f94df); }
.catalog .category-real-estate .main-headline { background: linear-gradient(to bottom right, #005992, #2b7aac); }
.catalog .category-safety .main-headline { background: linear-gradient(to bottom right, #4d5b00, #778526); }
.catalog .category-tourism .main-headline { background: linear-gradient(to bottom right, #d81688, #f447ac); }
.catalog .category-transportation .main-headline { background: linear-gradient(to bottom right, #077851, #27956f); }
.catalog .category-utilities .main-headline { background: linear-gradient(to bottom right, #455a64, #859095); }
.catalog .category-water .main-headline { background: linear-gradient(to bottom right, #353535, #515454); }

/* ========== header.main-headline ========== */

.catalog .main-headline {
  padding: 0;
  border-bottom: 1px solid #f2f2f2;
  min-height: 470px;
}

.catalog .main-headline .page {
  display: flex;
}

.catalog .main-headline .text-left {
  padding-top: 72px;
  text-align: left;
  flex: 1;
  margin-bottom: 45px;
}

.catalog .main-headline .text-left span {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
}

.catalog .main-headline h1 {
  color: #fff;
  font-size: 2em;
  text-align: left;
}

.catalog .main-headline .text-left > p {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.75em;
  padding: 0 0 10px;
}

.catalog .main-headline figure {
  // position: relative;
  flex: 0.51;
}

.catalog .main-headline img.header-device {
  pointer-events: none;
  overflow: hidden;
}

/* ========== .main-headline: Device Platforms ========== */

.catalog .main-headline .platforms {
  display: flex;
  margin: 0 auto;
  width: auto;
}

.catalog .platform {
  display: flex;

}

.catalog .platforms p {
  font-size: 14px;
  margin-right: 5px;
  color: #fff;
  white-space: nowrap;
}

.catalog .platform img {
  height: 22px;
  vertical-align: bottom;
  margin-right: 5px;
}

.catalog .platforms {
  margin: 0 auto;
  width: auto;
}

.catalog .platforms li {
  margin-right: 20px;
}
/* ========== .main-headline: CTAs ========== */

.catalog .main-headline .cta-top {
  display: flex;
  flex-wrap: wrap;
}

.catalog .main-headline .cta-top a {
  white-space: nowrap;
  overflow: hidden;
  margin: 5px 5px 0 0;
}

.catalog .main-headline .cta-top a.tour {
  background-color: #fff;
  border: 1px solid #eee;
}

/* ========== .main-headline: media queries ========== */

@media (max-width: 756px) {
  .catalog .main-headline figure { display: none; }
  .catalog .main-headline .text-left > * { text-align: center; }
  .catalog .main-headline .cta-top { flex-direction: column; }
  .catalog .main-headline .text-left {
    display: flex;
    flex-direction: column;
    padding: 45px 0 30px;
  }

  .catalog .main-headline .cta-top a {
    margin: 5px 0;
  }
}

/* ========== Social Sharing Buttons below .main-headline ========== */

.catalog .sharing-buttons {
  display: flex;
  flex-direction: column;
}

.catalog .sharing-buttons ul {
  margin: 0;
  font-size: 14px;
  text-align: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 250px;
  margin-top: -25px;
  align-self: center;
}

.catalog .sharing-buttons li {
  display: list-item;
  float: left;
  width: 20%;
  padding: 3px 0;
  margin-bottom: 10px;
  line-height: 1.35em;
}

.catalog .sharing-buttons li a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #ccc;
  text-shadow: none;
  padding: 5px;
  width: 100%;
}

.catalog .sharing-buttons i {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin: 2px 0;
  padding: 0;
}

.catalog .social-share .tweet { background: #26c4f1; }
.catalog .social-share .fblike { background: #306199; }
.catalog .social-share .lishare { background: #007bb6; }
.catalog .social-share .plus { background: #e93f2e; }
.catalog .social-share .emailshare { background: #777; }

/* ========== Industry Logos ========== */

.catalog .industries-logos { background: #f1f1f1; padding: 10px; height: 100px; text-align: center; overflow: hidden; }
.catalog .industries-logos ul li { display: inline-block; padding: 0 15px; }
.catalog .industries-logos img { height: 80px; }

@media only all and (max-width: 756px) {
  .catalog .industries-logos {
    display: none;
  }
}

/* ========== Benefits ========== */

.catalog .all-benefits {
  padding: 50px 0;
}

.catalog .all-benefits section {
  display: flex;
  justify-content: space-around;
}

.catalog .all-benefits .benefit.middle {
  // width: 260px;
  margin: 0 35px;
}

.catalog .benefit .heading {
  display: flex;
}

.catalog .benefit .heading h2 {
  text-align: left;
}

.catalog .benefit .heading img {
  width: 144px;
  height: 180px;
  margin: 0 1em 1em 0;
}

.catalog .benefit .benefit-text {
  padding-top: 25px;
}

@media (max-width: 978px) {
  .catalog .all-benefits .heading {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .catalog .benefit .heading img {
    margin: 0 0 1em 0;
    width: 88px;
    height: 110px;
  }

  .catalog .all-benefits .heading h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }
}

@media (max-width: 756px) {
  .catalog .all-benefits section {
    flex-direction: column;
    text-align: center;
  }

  .catalog .benefit .heading {
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }

  .catalog .benefit .headline img {
    margin: 0;
  }

  .catalog .all-benefits .heading h2 {
    font-size: 30px;
  }

  .catalog .benefit .benefit-text {
    padding: 0;
  }

  .catalog .all-benefits .benefit.middle {
    margin: 0;
  }
}

/* ========== Features ========== */

#hp-features {
  background: #eef7f9;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
  padding: 50px 0;
}

#hp-features h2 { margin-bottom: 40px; }
#hp-features .small-features { width: 24%; display: inline-block; padding-left: 30px; }
#hp-features .small-features ul li { margin: 20px 0 0; }
#hp-features .small-features img { width: 27px; display: inline-block; }
#hp-features .small-features span { display: inline-block; font-size: 0.85em; vertical-align: top; margin-left: 5px; }

@media only all and (max-width: 978px) {
  #hp-features .small-features {
    padding-left: 0;
  }
}

@media only all and (max-width: 756px) {
  #hp-features .small-features {
    width: 49%;
    padding-left: 30px;
  }
}

@media only all and (max-width: 480px) {
  #hp-features .small-features {
    width: 100%;
  }
}

/* ========== Customer Story section ========== */

.catalog .app-customer-story {
  padding: 50px 0;
  margin-bottom: 25px;
}

.catalog .app-customer-story h2 { margin-bottom: 40px; }

.catalog .app-customer-story section {
  display: flex;
  justify-content: space-around;
}

.catalog .app-customer-story .logo {
  min-width: 150px;
  max-width: 400px;
  display: table-cell;
  word-wrap: break-word;
  word-break: break-all;
}

.catalog .app-customer-story .text { padding-left: 50px; }

@media only all and (max-width: 480px) {
  .catalog .app-customer-story section {
    flex-direction: column;
  }

  .catalog .app-customer-story .text {
    padding: 25px 0;
  }
}

/* ========== Related Apps section ========== */

.catalog .related-apps h2 { margin-bottom: 40px; }

.catalog #has-grid {
  display: flex;
  justify-content: space-around;
}

.catalog #has-grid .grid-item {
  vertical-align: top;
  overflow: hidden;
  text-align: center;
  align-items: center;
  min-height: 300px;
  background-color: #fff;
  flex: 1;
}

.catalog #has-grid .middle {
  margin: 0 1.5%;
}

.catalog #has-grid .grid-item img {
  height: 180px;
  max-width: none;
  margin: 0 -100% !important;
}

.catalog #has-grid .grid-item h3.title {
  font-size: 20px;
  line-height: 24px;
  color: #3a98c3;
  margin: 10px 0 0;
  padding: 0 20px;
  text-align: left;
}

.catalog #has-grid .grid-item .meta {
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  padding: 0 20px;
  color: #999;
  margin: 10px 0;
}

@media (max-width: 978px) {
  #has-grid .grid-item {
    max-width: 380px;
  }
}

@media (max-width: 756px) {
  .catalog #has-grid {
    flex-direction: column;
    align-items: center;
  }

  .catalog #has-grid .middle { margin: 10px 0; }
}

@media (max-width: 480px) {
  #has-grid .grid-item { width: 100%; margin: 10px 0; min-height: 430px; }
  #has-grid .grid-item img { height: 250px; }
}

/*========== app-section ==========*/

.catalog .app-section {
  display: flex;
  justify-content: space-between;
}

/*========== App Left ==========*/

.catalog .page.content { padding-top: 45px; }

.app-left {
  width: 500px;
}

.app-left h2 { text-align: left; padding: 0 0 15px; }

.app-left .image {
  float: left;
  margin-right: 25px;
}

.app-left .image img {
  width: 200px;
  border-radius: 2px;
}

.app-left .detail { padding: 0 0 20px; }
.app-left .detail-top p { padding-bottom: 15px; }
.app-left .detail-top { padding-bottom: 25px; }
.app-left .detail p { text-align: left; }
.app-left ul.tags {
  text-align: left;
  margin-left: 4px;
  margin-bottom: 20px;
  font-size: 12pt;
  margin-top: -10px;
  padding: 20px 0;
}

.app-left ul.tags li {
  font-weight: 900;
  display: inline;
  padding: 0;
  margin: 0;
  color: black !important;
}

.app-left ul.tags li a.tag-link {
  display: inline;
  padding: 0;
  margin: 0;
}

/*========== App Right ==========*/

.app-right {
  float: right;
  text-align: left;
}

.app-right .app-fields {
  background-color: #fff;
  height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-right .app-example {
  background: url(../assets/img/apps/app-detail-fields-bg-01.png) top center no-repeat;
  height: 667px;
  margin-left: -40px;
  width: 362px;
  position: relative;
}

.app-right .app-fields {
  position: absolute;
  top: 97px;
  left: 42px;
  height: 465px;
  width: 281px;
  border-radius: 2px;
}

.app-clear { clear: both; }

#gallery .app-fields p.section,
#galle
og .catalog .app-left { width: 500px; }
// .catalog ry pp-field.label span.app-field-icon { background-image: url(/assets/img/app-fields/label.png); }.app-fields p.repeat
able {
  font-size: 14pt;
  background-color: #eaeaea;
  text-align: left;
  padding-left: 10px;
  color: #444;
  margin-top: 8px;
  font-family: "Open Sans Condensed", helvetica, arial, sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  line-height: inherit;
}

#gallery .app-fields p.section:first-child,
#gallery .app-fields p.repeatable:first-child { margin-top: 0; }
p.app-field { margin: 0 10px; padding: 0; }
#gallery .app-fields p { font-size: 14px; }

p.app-field span.app-field-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  position: relative;
  top: 8px;
  background-repeat: no-repeat;
}

p.app-field.label span.app-field-icon               { background-image: url(/assets/img/app-fields/label.png); }
p.app-field.textfield span.app-field-icon           { background-image: url(/assets/img/app-fields/text_field.png); }
p.app-field.photofield span.app-field-icon          { background-image: url(/assets/img/app-fields/photo_field.png); }
p.app-field.numericfield span.app-field-icon        { background-image: url(/assets/img/app-fields/numeric_field.png); }
p.app-field.choicefield span.app-field-icon         { background-image: url(/assets/img/app-fields/choice_field.png); }
p.app-field.multichoicefield span.app-field-icon    { background-image: url(/assets/img/app-fields/multi_choice_field.png); }
p.app-field.datetimefield span.app-field-icon       { background-image: url(/assets/img/app-fields/date_field.png); }
p.app-field.classificationfield span.app-field-icon { background-image: url(/assets/img/app-fields/classification_field.png); }
p.app-field.addressfield span.app-field-icon        { background-image: url(/assets/img/app-fields/address_field.png); }
p.app-field.signaturefield span.app-field-icon      { background-image: url(/assets/img/app-fields/signature_field.png); }
p.app-field.repeatable span.app-field-icon          { background-image: url(/assets/img/app-fields/repeatable_field.png); }
p.app-field.yesnofield span.app-field-icon          { background-image: url(/assets/img/app-fields/yes_no_field.png); }
p.app-field.timefield span.app-field-icon           { background-image: url(/assets/img/app-fields/time_field.png); }
p.app-field.videofield span.app-field-icon          { background-image: url(/assets/img/app-fields/video_field.png); }
p.app-field.calculatedfield span.app-field-icon     { background-image: url(/assets/img/app-fields/calculated_field.png); }
p.app-field.barcodefield span.app-field-icon        { background-image: url(/assets/img/app-fields/barcode_field.png); }
p.app-field.audiofield span.app-field-icon          { background-image: url(/assets/img/app-fields/audio_field.png); }

p.app-field { cursor: pointer; }
p.app-field span { background-size: contain; height: 30px; width: 30px; }

.choices li { color: black !important; margin: 3px 0; }
.app-field-details { font-size: 12px; padding-left: 40px; }
.classification-level { margin-left: 10px; }
.classification-level li { color: black !important; }

.app-icon {
  width: 96px;
  height: 96px;
  float: left;
  margin-right: 20px;
  position: relative;
  top: 4px;
  border: 1px solid #ccc;
  position: absolute;
  left: -90px;
  display: inline-block;
}

/* App section MEDIA QUERIEzzzzzzz.... */

@media (max-width: 978px) {
  .app-left { padding: 0 25px 0 0; width: 400px; margin-right: 35px;}
  .app-left .image img {
    width: 125px;
  }
}

@media (max-width: 756px) {
  .catalog .app-left .detail > * {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .catalog .app-left { padding: 0; width: auto; margin: auto; }
  .catalog .app-left .detail-top > * { text-align: center; }
  .catalog .app-left .detail-top .cta-top a {  display: flex; justify-content: center; }

  .catalog .app-left .image {
    float: none;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .catalog .app-left .image img { width: 200px; align-self: center;}

  .catalog .app-left .tags {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .catalog .app-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app-right .app-example {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .app-right .app-example {
    background: url(../assets/img/apps/app-detail-fields-bg-sm-01.png) top center no-repeat;
  }

  .app-right .app-fields {
    top: 73px;
    left: 72px;
    height: 361px;
    width: 222px;
  }
}
