.catalog .content { padding-bottom: 50px; }
$gradient-water: linear-gradient(to bottom right, #353535, #5f6363);
$solid-water: #353535;
$gradient-agriculture: linear-gradient(to bottom right, #8faf50, #b4d07e);
$solid-agriculture: #8faf50;


/* Updated Category BG Gradients */
.catalog .category-agriculture .main-headline { background: $gradient-agriculture; }
.catalog .category-archaeology .main-headline { background: linear-gradient(to bottom right, #9e9c77, #c4c2a8); }
.catalog .category-commercial .main-headline { background: linear-gradient(to bottom right, #ffa800, #ffcf73); }
.catalog .category-construction .main-headline { background: linear-gradient(to bottom right, #333, #666161); }
.catalog .category-cultural .main-headline { background: linear-gradient(to bottom right, #b4640f, #cb853c); }
.catalog .category-disaster-response .main-headline { background: linear-gradient(to bottom right, #b40000, #f04848); }
.catalog .category-engineering .main-headline { background: linear-gradient(to bottom right, #184167, #557593); }
.catalog .category-environmental .main-headline { background: linear-gradient(to bottom right, #92a300, #b7c826); }
.catalog .category-finance .main-headline { background: linear-gradient(to bottom right, #71b900, #9dd545); }
.catalog .category-government .main-headline { background: linear-gradient(to bottom right, #603b14, #93602a); }
.catalog .category-health .main-headline { background: linear-gradient(to bottom right, #ff7171, #f59898); }
.catalog .category-public-health .main-headline { background: linear-gradient(to bottom right, #ff7171, #f59898); }
.catalog .category-hospitality .main-headline { background: linear-gradient(to bottom right, #00a8a8, #5ac9c9); }
.catalog .category-miscellaneous .main-headline { background: linear-gradient(to bottom right, #31cda3, #63e8c4); }
.catalog .category-natural-resources .main-headline { background: linear-gradient(to bottom right, #29c2e3, #88def1); }
.catalog .category-political .main-headline { background: linear-gradient(to bottom right, #007ccb, #2da0eb); }
.catalog .category-real-estate .main-headline { background: linear-gradient(to bottom right, #005992, #2b7aac); }
.catalog .category-safety .main-headline { background: linear-gradient(to bottom right, #4d5b00, #7e8c2e); }
.catalog .category-tourism .main-headline { background: linear-gradient(to bottom right, #d81688, #f762b9); }
.catalog .category-transportation .main-headline { background: linear-gradient(to bottom right, #077851, #329a76); }
.catalog .category-utilities .main-headline { background: linear-gradient(to bottom right, #455a64, #909ea4); }
// .catalog .category-water .main-headline { background: linear-gradient(to bottom right, #353535, #5f6363); }
.catalog .category-water .main-headline { background: $gradient-water; }

/* ========== header.main-headline ========== */

.catalog .main-headline {
  padding: 0;
  border-bottom: 1px solid #f2f2f2;
  min-height: 470px;
  position: relative;
}

.catalog .main-headline .page {
  display: flex;
}

.catalog .main-headline .text-left {
  padding: 72px 0 92px;
  text-align: left;
  flex: 1;
  max-width: 60%;
}

.catalog .main-headline .text-left span {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
}

.catalog .main-headline h1 {
  color: #fff;
  font-size: 2em;
  text-align: left;
  padding: 10px 0 15px;
}

.catalog .main-headline .text-left > p {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.75em;
  padding: 0 0 25px;
  margin: 0;
}

.catalog #app-illustration {
  position: absolute;
  left: 58%;
  bottom: 30px;
  width: 690px;
  height: 690px;
  background: url(../assets/img/apps/devices-03.png) center / cover no-repeat;
}

/* ========== .main-headline: Device Platforms ========== */

.catalog .main-headline .platforms {
  display: flex;
  // margin: 0 0 25px;
  padding: 0 0 10px;
  width: auto;
}

.catalog .platform {
  display: flex;
}

.catalog .platforms p {
  font-size: 14px;
  margin-right: 5px;
  color: #fff;
  white-space: nowrap;
}

.catalog .platform img {
  height: 22px;
  vertical-align: bottom;
  margin-right: 5px;
}

.catalog .platforms {
  margin: 0 auto;
  width: auto;
}

.catalog .platforms li {
  margin-right: 20px;
}
/* ========== .main-headline: CTAs ========== */


.catalog .main-headline .cta-top {
  display: flex;
  flex-wrap: wrap;
}

.catalog .main-headline .cta-top a {
  white-space: nowrap;
  overflow: hidden;
  margin: 5px 5px 0 0;
  border: 2px solid #eee;
  border-radius: 2px;
  padding: 1em;
  text-transform: uppercase;
  color: #eee;
  font-weight: 400;
}

.catalog .main-headline .cta-top a:hover {
  background: rgba(238, 238, 238, 0.75);
  border: 2px solid rgba(238, 238, 238, 0.75);
  color: $solid-agriculture;
}

.catalog .main-headline .cta-top a:active {
  background: rgba(238, 238, 238, 1);
  border: 2px solid rgba(238, 238, 238, 1);
  color: darken($solid-agriculture, 25);
}
/* ========== .main-headline: media queries ========== */

@media (max-width: 978px) {
  .catalog #app-illustration {
    left: 58%;
    top: -100px;
    width: 735px;
    height: 735px;
  }
}

@media (max-width: 756px) {
  .catalog #app-illustration { display: none; }
  .catalog .main-headline .text-left > * { text-align: center; }
  .catalog .main-headline .cta-top { flex-direction: column; }
  .catalog .main-headline .text-left {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    max-width: 100%;
  }

  .catalog .main-headline .cta-top a {
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .catalog .main-headline .platforms {
    flex-direction: column;
    align-items: center;
  }

  .catalog .main-headline .cta-top a {
    white-space: normal;
    line-height: 20px;
  }
}

/* ========== Social Sharing Buttons below .main-headline ========== */

.catalog .sharing-buttons {
  display: flex;
  flex-direction: column;
}

.catalog .sharing-buttons ul {
  margin: 0;
  font-size: 14px;
  text-align: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 250px;
  margin-top: -25px;
  align-self: center;
}

.catalog .sharing-buttons li {
  display: list-item;
  float: left;
  width: 20%;
  padding: 3px 0;
  margin-bottom: 10px;
  line-height: 1.35em;
}

.catalog .sharing-buttons li a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #ccc;
  text-shadow: none;
  padding: 5px;
  width: 100%;
}

.catalog .sharing-buttons i {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin: 2px 0;
  padding: 0;
}

.catalog .social-share .tweet { background: #26c4f1; }
.catalog .social-share .fblike { background: #306199; }
.catalog .social-share .lishare { background: #007bb6; }
.catalog .social-share .plus { background: #e93f2e; }
.catalog .social-share .emailshare { background: #777; }

@media (max-width: 756px) {
  .catalog .sharing-buttons ul {
    margin-top: -15px;
  }
}

@media (max-width: 480px) {
  .catalog .sharing-buttons ul {
    margin-top: -24px;
  }
}

/* ========== Industry Logos ========== */

.catalog .industries-logos {
  background: #f1f1f1;
  padding: 10px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  z-index: -1;
}

.catalog .industries-logos ul li { display: inline-block; padding: 0 15px; }
.catalog .industries-logos img { height: 80px; }

@media only all and (max-width: 756px) {
  .catalog .industries-logos {
    display: none;
  }
}

/* ========== Benefits ========== */

.catalog .all-benefits {
  padding: 50px 0;
}

.catalog .all-benefits section {
  display: flex;
  justify-content: space-around;
}

.catalog .all-benefits .benefit.middle {
  // width: 260px;
  margin: 0 35px;
}

.catalog .benefit .heading {
  display: flex;
}

.catalog .benefit .heading h2 {
  text-align: left;
}

.catalog .benefit .heading img {
  width: 144px;
  height: 180px;
  margin: 0 1em 1em 0;
}

.catalog .benefit .benefit-text {
  padding-top: 25px;
}

@media (max-width: 978px) {
  .catalog .all-benefits .heading {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .catalog .benefit .heading img {
    margin: 0 0 1em 0;
    width: 88px;
    height: 110px;
  }

  .catalog .all-benefits .heading h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }
}

@media (max-width: 756px) {
  .catalog .all-benefits section {
    flex-direction: column;
    text-align: center;
  }

  .catalog .benefit .heading {
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }

  .catalog .benefit .headline img {
    margin: 0;
  }

  .catalog .all-benefits .heading h2 {
    font-size: 30px;
  }

  .catalog .benefit .benefit-text {
    padding: 0;
  }

  .catalog .all-benefits .benefit.middle {
    margin: 0;
  }
}

/* ========== Features ========== */

#hp-features {
  background: #eef7f9;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
  padding: 50px 0;
}

#hp-features h2 { margin-bottom: 40px; }
#hp-features .small-features { width: 24%; display: inline-block; padding-left: 30px; }
#hp-features .small-features ul li { margin: 20px 0 0; }
#hp-features .small-features img { width: 27px; display: inline-block; }
#hp-features .small-features span { display: inline-block; font-size: 0.85em; vertical-align: top; margin-left: 5px; }

@media only all and (max-width: 978px) {
  #hp-features .small-features {
    padding-left: 0;
  }
}

@media only all and (max-width: 756px) {
  #hp-features .small-features {
    width: 49%;
    padding-left: 30px;
  }
}

@media only all and (max-width: 480px) {
  #hp-features .small-features {
    width: 100%;
  }
}

/* ========== Customer Story section ========== */

.catalog .customer-stories {
  padding: 50px 0;
  margin-bottom: 25px;
}

.catalog .customer-stories h2 { margin-bottom: 40px; }

.catalog .customer-stories .has-grid-inner .meta {
  padding: 20px 45px;
}

.catalog .customer-stories .meta p {
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  color: #999;
  margin: 10px 0 0;
}

.catalog .customer-stories .meta a {
  font-size: 20px;
  line-height: 24px;
  color: #3a98c3;
  margin: 10px 0;
  text-align: left;
  font-family: "Open Sans Condensed", helvetica, arial, sans-serif;
  font-weight: 900;
}

.catalog .customer-stories .has-grid-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalog .customer-stories .grid-item {
  width: 48%;
  overflow: hidden;
}

.catalog .customer-stories .meta {
  background-color: #f5f5f5;
  padding: 25px;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.catalog .customer-stories .customer-logo {
  background-color: #fff;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog .customer-stories .customer-logo img {
  max-width: 300px;
}

@media only all and (max-width: 756px) {

  .catalog .customer-stories .has-grid-inner {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .catalog .customer-stories .grid-item {
    width: 100%;
    height: 90%;
    margin-bottom: 25px;
  }

  .catalog .customer-stories .customer-logo {
    height: 130px;
  }

  .catalog .customer-stories .customer-logo img {
    max-height: 100px;
    max-width: 200px;
  }
}

@media only all and (max-width: 480px) {
  // .catalog .customer-stories section {
  //   flex-direction: column;
  // }

  .catalog .customer-stories .text {
    padding: 25px 0;
  }
}

/* ========== Related Apps section ========== */

.catalog .related-apps { padding: 50px 0 0; }
.catalog .related-apps h2 { margin-bottom: 40px; }

.catalog #has-grid {
  display: flex;
  justify-content: space-around;
}

.catalog #has-grid .grid-item {
  vertical-align: top;
  overflow: hidden;
  text-align: center;
  align-items: center;
  min-height: 300px;
  background-color: #fff;
  width: 48%;
}

.catalog #has-grid .middle {
  margin: 0 1.5%;
}

.catalog .related-apps #has-grid .grid-item img {
  height: 180px;
  max-width: none;
  margin: 0 -100% !important;
}

.catalog #has-grid .grid-item h3.title {
  font-size: 20px;
  line-height: 24px;
  color: #3a98c3;
  margin: 10px 0 0;
  padding: 0 20px;
  text-align: left;
}

.catalog #has-grid .grid-item .meta {
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  padding: 0 20px;
  color: #999;
  margin: 10px 0;
}

@media (max-width: 978px) {
  #has-grid .grid-item {
    max-width: 380px;
  }
}

@media (max-width: 756px) {
  .catalog #has-grid {
    flex-direction: column;
    align-items: center;
  }

  .catalog #has-grid .grid-item {
    width: 100%;
  }

  .catalog #has-grid .middle { margin: 10px 0; }
}

@media (max-width: 480px) {
  #has-grid .grid-item { width: 100%; margin: 10px 0; min-height: 430px; }
  #has-grid .grid-item img { height: 250px; }
}

/*========== app-section ==========*/
.catalog .app-gradient {
  background: linear-gradient(0deg, #fff, #eef7f9);
}

.catalog .app-section {
  display: flex;
  justify-content: space-between;
}

/*========== App Left ==========*/

.catalog .page.content { padding-top: 50px; }

.app-left {
  width: 500px;
}

.app-left h2 { text-align: left; }

.app-left .image img {
  margin: 25px 0;
  border-radius: 2px;
}

.app-left .detail p {
  text-align: left;
}

.app-left ul.tags {
  text-align: left;
  margin-left: 4px;
  margin-bottom: 20px;
  font-size: 12pt;
  margin-top: -10px;
  padding: 20px 0;
}

.app-left ul.tags li {
  font-weight: 900;
  display: inline;
  padding: 0;
  margin: 0;
  color: black !important;
}

.app-left ul.tags li a.tag-link {
  display: inline;
  padding: 0;
  margin: 0;
}

/*========== App Right ==========*/

.app-right {
  float: right;
  text-align: left;
}

.app-right .app-fields {
  background-color: #fff;
  height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-right .app-example {
  background: url(../assets/img/apps/app-detail-fields-bg-01.png) top center no-repeat;
  height: 667px;
  margin-left: -40px;
  width: 362px;
  position: relative;
}

.app-right .app-fields {
  position: absolute;
  top: 97px;
  left: 42px;
  height: 465px;
  width: 281px;
  border-radius: 2px;
}

.app-clear { clear: both; }

#gallery .app-fields p.section, #gallery .app-fields p.repeatable {
  font-size: 14pt;
  background-color: #eaeaea;
  text-align: left;
  padding-left: 10px;
  color: #444;
  margin-top: 8px;
  font-family: "Open Sans Condensed", helvetica, arial, sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  line-height: inherit;
}

#gallery .app-fields p.section:first-child,
#gallery .app-fields p.repeatable:first-child { margin-top: 0; }
p.app-field { margin: 0 10px; padding: 0; }
#gallery .app-fields p { font-size: 14px; }

p.app-field span.app-field-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  position: relative;
  top: 8px;
  background-repeat: no-repeat;
}

p.app-field.label span.app-field-icon               { background-image: url(../assets/img/app-fields/label.png); }
p.app-field.textfield span.app-field-icon           { background-image: url(../assets/img/app-fields/text_field.png); }
p.app-field.photofield span.app-field-icon          { background-image: url(../assets/img/app-fields/photo_field.png); }
p.app-field.numericfield span.app-field-icon        { background-image: url(../assets/img/app-fields/numeric_field.png); }
p.app-field.choicefield span.app-field-icon         { background-image: url(../assets/img/app-fields/choice_field.png); }
p.app-field.multichoicefield span.app-field-icon    { background-image: url(../assets/img/app-fields/multi_choice_field.png); }
p.app-field.datetimefield span.app-field-icon       { background-image: url(../assets/img/app-fields/date_field.png); }
p.app-field.classificationfield span.app-field-icon { background-image: url(../assets/img/app-fields/classification_field.png); }
p.app-field.addressfield span.app-field-icon        { background-image: url(../assets/img/app-fields/address_field.png); }
p.app-field.signaturefield span.app-field-icon      { background-image: url(../assets/img/app-fields/signature_field.png); }
p.app-field.repeatable span.app-field-icon          { background-image: url(../assets/img/app-fields/repeatable_field.png); }
p.app-field.yesnofield span.app-field-icon          { background-image: url(../assets/img/app-fields/yes_no_field.png); }
p.app-field.timefield span.app-field-icon           { background-image: url(../assets/img/app-fields/time_field.png); }
p.app-field.videofield span.app-field-icon          { background-image: url(../assets/img/app-fields/video_field.png); }
p.app-field.calculatedfield span.app-field-icon     { background-image: url(../assets/img/app-fields/calculated_field.png); }
p.app-field.barcodefield span.app-field-icon        { background-image: url(../assets/img/app-fields/barcode_field.png); }
p.app-field.audiofield span.app-field-icon          { background-image: url(../assets/img/app-fields/audio_field.png); }

p.app-field { cursor: pointer; }
p.app-field span { background-size: contain; height: 30px; width: 30px; }

.choices li { color: black !important; margin: 3px 0; }
.app-field-details { font-size: 12px; padding-left: 40px; }
.classification-level { margin-left: 10px; }
.classification-level li { color: black !important; }

.app-icon {
  width: 96px;
  height: 96px;
  float: left;
  margin-right: 20px;
  position: relative;
  top: 4px;
  border: 1px solid #ccc;
  position: absolute;
  left: -90px;
  display: inline-block;
}

/* App section MEDIA QUERIEzzzzzzz.... */

@media (max-width: 978px) {
  .app-left { padding: 0 25px 0 0; width: 400px; margin-right: 35px;}
}

@media (max-width: 756px) {
  .catalog .app-left .detail > * {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .catalog .app-left h2 { padding-bottom: 25px; }
  .catalog .app-left { padding: 0; width: auto; margin: auto; }
  .catalog .app-left .detail-top > * { text-align: center; }
  .catalog .app-left .detail-top .cta-top a {  display: flex; justify-content: center; }

  .catalog .app-left .image img {
    display: none;
  }

  .catalog .app-left .tags {
    margin: auto;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding-bottom: 35px;
  }

  .catalog .app-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app-right .app-example {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .app-right .app-example {
    background: url(../assets/img/apps/app-detail-fields-bg-sm-01.png) top center no-repeat;
  }

  .app-right .app-fields {
    top: 73px;
    left: 72px;
    height: 361px;
    width: 222px;
  }
}

.catalog .app-video {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.catalog .app-video iframe.main {
  width: 900px;
  height: 506px;
  margin-bottom: 50px;
}

@media (max-width: 978px) {
  .catalog .app-video { width: 720px; }
}

@media (max-width: 756px) {
  .catalog .app-video iframe.main {
    width: 480px;
    height: 270px;
    margin: 0;
  }
}

@media (max-width: 480px) {
  // .catalog .app-video iframe.main { width: 320px; height: 180px; }
}
