// background: url('../../public/assets/img/fulcrum-live/fulcrum-live-globe-background-01.jpg') center / cover no-repeat;
// NOT for fulcrumapp.com - development CSS only

ul {
  list-style-type: none;
}

// END development section

.security p,
ul {
  font-size: 1em;
  font-weight: 300;
}

/* main header section */

.security .main-headline {
  background: linear-gradient(#18313f, #79a0b6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.security .main-headline h1 {
  text-align: center;
  color: #fff;
  font-size: 3em;
}

.security .main-headline p {
  text-align: center;
  color: #fff;
  font-weight: 100;
  margin: auto;
  padding: 15px 0;
}

.security .main-headline .top-content { padding: 25px 0; }

/* security-features section */

.security .security-features h2 {
  text-align: left;
  padding-bottom: 20px;
}

.security .security-features {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
}

.security .security-features .feature {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.security .payments {
  margin: auto;
}

.security .security-features .feature-text {
  padding: 0 15px;
  width: 50%;
}

.security .security-features .feature-text h2 {
  margin: auto;
}

.security .security-features .feature img {
  max-height: 200px;
  max-width: 200px;
}

.security .security-features .feature-image {
  width: 50%;
  align-content: center;
  display: flex;
  justify-content: center;
}

.security .background-fill {
  background-color: #f3f3f3;
  width: 100%;
}

.security .secure { background-color: #f3f3f3; }

.security .security-and-infrastructure {
  padding: 50px 0;
  background: linear-gradient(rgba(24, 49, 62, 0.7), rgba(24, 49, 62, 0.7)), url('/assets/img/security/servers.jpg') center / cover no-repeat;
}

.security .security-and-infrastructure h2 { color: #fff; }

.security .security-and-infrastructure p { color: #fff; }

.security .middle h2 {
  text-align: left;
  padding-bottom: 25px;
}

.security .middle ul {
  list-style: disc;
  padding: 0 auto 25px;
}

.security .middle ul li {
  padding: 10px;
}

/* Media Queries */

// @media (max-width: 1030px) {
//   // .security .upper { height: auto; }
// }
//
// @media (max-width: 978px) {
// }
//
@media (max-width: 756px) {
  .security .feature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .security .it-friendly .feature {
    flex-direction: column-reverse;
  }

  .security .backup .feature {
    flex-direction: column-reverse;
  }

  .security .feature-image {
    padding-bottom: 45px;
    // width: auto;
  }

  .security .feature .feature-text {
    width: inherit;
    padding: 0;
  }

  .security .feature .feature-text h2 {
    text-align: center;
  }

  .security .feature-image img {
    max-height: auto;
  }
}
//
// @media (max-width: 626px) {
// }
//
@media (max-width: 480px) {
  .security .feature-image img {
    // width: 100%;
    height: 100%;
  }
}
//
// @media (max-width: 330px) {
// }
