// background: url('../../public/assets/img/fulcrum-live/fulcrum-live-globe-background-01.jpg') center / cover no-repeat;

.security p, ul {
  font-size: 1em;
  font-weight: 300;
}

/* main header section */

.security .main-headline {
  background: linear-gradient(#18313f, #79a0b6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.security .main-headline .top-content h1 {
  text-align: center;
  color: #fff;
  font-size: 3em;
}

.security .main-headline .top-content p {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.security .top-content { padding: 50px; }

/* Features section */

.security .security-features {
  padding: 25px;
}

.security .security-features .feature {
  display: inline-flex;
}

.security .security-features .feature-text {
  padding: 0 15px;
}

.security .security-features .feature-text h2 {
  margin: auto;
}

.security .security-features .feature img {
  max-height: 200px;
}

.security .security-features .feature-image {
  display: flex;
}

/* Footer */

.security .landing-footer p {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.security .triangle {
  display: block;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 27px solid #f00;
  margin: 0 auto 15px;
}

/* Media Queries */

// @media (max-width: 1030px) {
//   // .security .upper { height: auto; }
// }
//
// @media (max-width: 978px) {
// }
//
// @media (max-width: 756px) {
//   // .security .main-headline h1 {
//   //   font-size: 34px;
//   //   line-height: 34px;
//   // }
//
//   // .security .top-content {
//   //   width: 100%;
//   //   padding: 0 20px;
//   // }
//   //
//   // .security .inner-nav {
//   //   padding: 25px 0;
//   // }
// }
//
// @media (max-width: 626px) {
// }
//
// @media (max-width: 480px) {
// }
//
// @media (max-width: 330px) {
// }
